html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}

@media (max-width: 900px) {
    .card_grid, .hero_grid{
        width: 93vw;
    }
    .none_mobile{
        display: none;
    }
    .footer_grid{
        grid-template-columns: repeat(4, 1fr);
    }
    
    .none_mobile_lg{
        display: none;
    }
    .hero_grid{
        width: 90vw;
    }
    .hero_txt h1{
        font-size: 2rem;
    }
    .hero_txt p{
        font-size: 1rem;
    }

    .card_main_txt h1{
        font-size: 1.2rem;
        margin-top: 2vh;
    }
    .card_main_txt p{
        font-size: 0.8rem;
        margin-top: 2vh;
    }
    .device_grid{
        width: 95vw;
    }
    .protection{
        margin: 10vh 0;
    }
    .protection_grid{
        grid-template-columns: 1fr;
        width: 92vw; 
    }
    .protection_img{
        height: 100%;
    }
}

@media (max-width: 800px) {
    .card_grid{
        grid-template-columns: 1fr;
    }
    .hero_grid{
        grid-template-columns: 1fr;
    }
    .hero_images{
        width: 80vw;
        margin: 0 auto;
    }
    .card{
        width: 85vw;
        margin: 1vh auto;
    }
    .device_grid{
        grid-template-columns: 1fr;
    }
    .decor_div_2{
        /* display: none; */
        padding: 3vh 4vw;
    }
    .decor_device_text{
        width: 70vw;
    }
    .scroller_wrapper{
        height: 45vh;
    }
}




@media (max-width: 650px) {
    .hero_txt h1{
        font-size: 2.6rem;
        /* text-align: center; */
    }
    .hero_txt p{
        font-size: 1.2rem;
        /* text-align: center; */
    }
    .card_grid{
        width: 95vw;
    }
    .hero_grid{
        grid-template-columns: 1fr;
    }
    .footer_grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .none_mobile_sm{
        display: none;
    }
}

