*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero_txt{
    align-self: center;
}
.hero_txt h1{
    font-size: 3rem;
    letter-spacing: -0.125rem;
    /* font-weight: 500; */
}
.hero_txt p{
    font-size: 1.3rem;
}
.hero_grid{
    display: grid;
    grid-template-columns: 45fr 55fr;
    width: 90vw;
    grid-gap: 3vw;
    margin: 0 auto;
    box-sizing: border-box;
}
.btn{
    padding: 2vh 3vw;
    border-radius: 2rem;
    border: 0;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    background-color: hsl(198deg 81% 14%);
    margin-top: 2vh;
}

.hero_images{
    display: flex;
    justify-content: space-between;
}
.hero_img_child1{
    width: 170px;
    height: 55vh;
    margin-top: 35vh;
}
.hero_img_child2{
    width: 170px;
    margin-top: 23vh;
    height: 55vh;
}
.hero_img_child3{
    width: 170px;
    height: 55vh;
    margin-top: 7vh;
}

/* protection */
.protection_grid{
    display: grid;
    grid-template-columns: 55fr 40fr;
    box-sizing: border-box;
    width: 85vw;
    grid-gap: 5vw;
    margin-left: 4vw;
}
.protection_img_wrapper{
    width: 100%;
    height: 85vh;
    position: relative;
    z-index: 100;
}
.protection_design{
    border: 18px solid #95d7f1;
    border-left: none;
    border-top-right-radius: 15rem;
    border-bottom-right-radius: 15rem;
    position: absolute;
    width: 100%;
    top: 30%;
    height: 30vh;
    left: -10vw;
    z-index: -1;
}
.protection_img{
    width: 100%;
    height: 100%;
    z-index: 100;
}
.protection_txt{
    align-self: center;
}


/* card */
.card_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90vw;
    margin: 2vh auto;
    grid-gap: 2vw;
}
.card_img_wrapper{
    width: 100%;
    height: 45vh;
}
.card_img{
    width: 100%;
    height: 100%;
}
.card_main_txt h1{
    font-size: 2.3rem;
    font-weight: 700;   
    letter-spacing: -0.0625rem;
    margin-bottom: 12px;
}
.card_main_txt p{
    line-height: 2rem;
}

.device_grid{
    display: grid;
    grid-template-columns: 60fr 40fr;
    width: 80vw;
    grid-gap: 2vw;
}
.decor_device_text{
    height: 70vh;
    border: 18px solid #95d7f1;
    border-left: none;
    border-top-right-radius: 15rem;
    border-bottom-right-radius: 15rem;
    padding: 0 11vw;
    display: flex;
    align-content: center;
    align-items: center;
}
.decor_device_text h1{
    font-size: 2rem;
    font-weight: bolder;
}
.decor_div_2{
    align-self: center;
}

