*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero_txt{
    align-self: center;
}
.hero_txt h1{
    font-size: 3rem;
    letter-spacing: -0.125rem;
    /* font-weight: 500; */
}
.hero_txt p{
    font-size: 1.3rem;
}
.hero_grid{
    display: grid;
    grid-template-columns: 45fr 55fr;
    width: 90vw;
    grid-gap: 3vw;
    margin: 0 auto;
    box-sizing: border-box;
}
.btn{
    padding: 2vh 3vw;
    border-radius: 2rem;
    border: 0;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    background-color: hsl(198deg 81% 14%);
    margin-top: 2vh;
}

.hero_images{
    display: flex;
    justify-content: space-between;
}
.hero_img_child1{
    width: 170px;
    height: 55vh;
    margin-top: 35vh;
}
.hero_img_child2{
    width: 170px;
    margin-top: 23vh;
    height: 55vh;
}
.hero_img_child3{
    width: 170px;
    height: 55vh;
    margin-top: 7vh;
}
